name: Deploy

on: [push, workflow_dispatch]

jobs:
  build-launcher:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt update && sudo apt install -y \
          software-properties-common \
          build-essential \
          git \
          python3-dev \
          python3-pip \
          python3-setuptools \
          python3-wheel \
          gettext \
          postgresql \
          libpq-dev \
          graphviz
        sudo pip3 install --upgrade pip && sudo pip3 install "setuptools<66.0.0"
        sudo pip3 install \
          requests \
          ujson \
          django==4.2 \
          pluggy \
          py \
          attrs \
          six \
          more-itertools \
          ply \
          pytest \
          atomicwrites \
          pycparser \
          psycopg2-binary \
          sympy \
          pytz
    - name: Deployment of CVV
      run: |
        sudo ./deploys/deployment.sh _test_
        nohup ./start.sh &
        sleep 5
